# Python Einführung
**fett** schreiben  
*kursiv*   _kursiv_ schreiben

## Erste Anweisung

In [5]:
# Dies ist ein Kommentar
print("Hello World!")

Hello World!

## Datentypen

In [10]:
# Variablen
name = "Lovelace"

In [7]:
print (name)

Lovelace

In [8]:
name

'Lovelace'

In [11]:
first_name = "Ada" # String

In [13]:
# Integer - Ganzzahlen
age = 73
print(age)

73

In [14]:
# Float - Gleitkommazahlen
size = 1.7123

In [15]:
# Boolean - Boolscher Wert
knows_math = True
print(knows_math)

True

In [22]:
5 # ohne print wird der letzte verwendete Wert angegeben

5

In [21]:
print (knows_math)
print (name) # mit print wird alles ausgegeben

True
Lovelace

In [19]:
type(size) # zeigt Datentyp an

float

## Operatoren

In [23]:
 5 + 5

10

In [25]:
age * 100 # Rechnen geht auch mit Variablen

7300

In [29]:
name + name # das heißt concatinieren

'LovelaceLovelace'

In [27]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [28]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [31]:
name + "10" # eine Zahl als String - nicht als Integer - geht

'Lovelace10'

In [32]:
size/age

0.023456164383561642

In [33]:
number_of_articles ="50"

In [37]:
number_of_articles / 10 # strings können nicht dividiert werden

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [36]:
int(number_of_articles) / 10 # string in integer umwandeln

5.0

## Funktionen und Methoden

In [38]:
len(name)

8

In [39]:
name

'Lovelace'

In [41]:
name.upper() # schreibt in Großbuchstaben

'LOVELACE'

In [44]:
name.lower() # schreibt in Kleinbuchstaben
# Die eigentliche Variable wird dadurch nicht verändert

'lovelace'

In [50]:
name.count ("e") # zählt die Zeichen der Variablen

2

In [51]:
?name.count # Hilfefunktion aufrufen

Object `name.count # Hilfefunktion aufrufen` not found.

In [47]:
name.lower().count("l")

2

In [49]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [55]:
int(str(age).replace("73", "10")) 
# ganze Zahlen können nicht ersetzt werden, 
# dafür müssen sie zunächst als string angegeben 
# und danach als integer umgewandelt werden

10

## Listen und Dictionaries

In [56]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [58]:
names[1] # Zählung fängt mit 0 an

'Darwin'

In [59]:
names [0]

'Lovelace'

In [61]:
names [-1] # gibt den letzten Wert aus

'Hawking'

In [64]:
names [0:3] # gibt alle Elemente von 0 bis 3,
# allerdings wird das dritte Element nicht mit angegeben
# also nur die Elemente 0 bis 2

['Lovelace', 'Darwin', 'Curie']

In [65]:
names [:2]

['Lovelace', 'Darwin']

In [66]:
names [2:]

['Curie', 'Hawking']

In [70]:
# Dictionary
authors_and_birth_year = {"Lovelace": 1882, 
                          "Darwin": 1809, 
                          "Noether": 1882, 
                          "Hawking": 1942}

In [71]:
authors_and_birth_year["Darwin"]

1809

In [72]:
%who 
# gibt Anfrage an jupyter notebook
# welche Variabelen gibt es?

age	 authors_and_birth_year	 first_name	 knows_math	 name	 names	 number_of_articles	 size

## For-Schleifen

In [75]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [74]:
for person in names: 
    print (person + " did awsome stuff")

Lovelace did awsome stuff
Darwin did awsome stuff
Curie did awsome stuff
Hawking did awsome stuff

## Conditionals

In [84]:
temp = 20 # temp wird definiert
if temp > 15: # Bedingung wird angegeben
    print("Es ist warm.") # Ausgabe wird angefordert

Es ist warm.

In [80]:
temp = 10 
if temp > 15: 
    print("Es ist warm.") # Keine Ausgabe, da Bedingung nicht erfüllt

In [79]:
temp = 10
if temp > 15: 
    print("Es ist warm.")
else: 
    print ("Es ist kalt.")

Es ist kalt.

In [81]:
temp = 15
if temp > 25: 
    print("Es ist heiß.")
elif temp >= 15:
    print ("Es ist warm.")
else: 
    print ("Es ist kalt.")

Es ist warm.

In [82]:
temp = 12
if temp > 25: 
    print("Es ist heiß.")
elif temp >= 15:
    print ("Es ist warm.")
else: 
    print ("Es ist kalt.")

Es ist kalt.

In [83]:
temp = 42
if temp > 25: 
    print("Es ist heiß.")
elif temp >= 15:
    print ("Es ist warm.")
else: 
    print ("Es ist kalt.")

Es ist heiß.